PORT=3004
POSTGRES_PORT=5435
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=clinicore_telemedicina_db
DATABASE_URL=postgresql://USER:PASS@localhost:5435/clinicore_telemedicina_db?schema=public
MS_ENTIDADES_CORE_URL=http://localhost:3001/api/v1
MS_MEET_URL=http://ms-integracion-meet:3005/api/v1
