PORT=3005
POSTGRES_PORT=5435
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ms_telemedicina
DATABASE_URL=postgresql://USER:PASS@localhost:5435/ms_telemedicina?schema=public
MS_ENTIDADES_CORE_URL=http://localhost:3001/api/v1
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_REFRESH_TOKEN=
MS_MEET_URL=http://ms-integracion-meet:3005/api/v1
